---
import BaseHead from "../components/BaseHead.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Navbar title={SITE_TITLE} />
    <main>
      <section class="container">
        {
          posts.map((post) => (
            <article id="article">
              <hgroup>
                <h1>
                  <a href={post.url}>{post.frontmatter.title}</a>
                </h1>
                <h2>{post.frontmatter.subtitle}</h2>
              </hgroup>
              <p>{post.frontmatter.description}</p>
              <footer>
                <small>
                  <time datetime={post.frontmatter.pubDate}>
                    {new Date(post.frontmatter.pubDate).toLocaleDateString(
                      "en-us",
                      {
                        year: "numeric",
                        month: "short",
                        day: "numeric",
                      }
                    )}
                  </time>
                </small>
              </footer>
            </article>
          ))
        }
      </section>
    </main>
    <Footer />
  </body>
</html>
