---
import BaseHead from "../components/BaseHead.astro";
import Navbar from "../components/Navbar.astro";
import SocialMediaButtons from "../components/SocialMediaButtons.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Navbar title={SITE_TITLE} />
    <!-- <Header title={SITE_TITLE} /> -->
    <header>
      <div class="container">
        <div class="grid">
          <div>
            <hgroup>
              <h1>{SITE_TITLE}</h1>
              <h2>{SITE_DESCRIPTION}</h2>
            </hgroup>
            <SocialMediaButtons />
          </div>
        </div>
      </div>
    </header>
    <main>
      <section class="container">
        <p>Hola 👋, Bienvenido a mi sitio web 😁!</p>
        <p>
          Soy <strong>Ruby on Rails Full Stack Developer</strong>, con 4 años de
          experiencia, mi principal Stack tecnológico se basa en Ruby on Rails,
          PostgreSQL, Heroku, AWS, React JS, y React Native. Tengo experiencia
          en Python, NodeJS y sus tecnologías derivadas. Tengo un background de
          diseño arquitectónico y 3d por lo que mis habilidades en diseño
          frontend son muy buenas 😜.
        </p>
        <p>
          Me gusta sentirme dueño de los proyectos en los que trabajo y no solo
          escribir código, sino también tener una visión crítica del producto,
          las funcionalidades y el modelo de negocio. No soy solo un profesional
          que escribe código, soy un profesional que soluciona problemas.
        </p>
        <!-- Blockquote-->
        <blockquote>
          "Estoy convencido de que el aprendizaje autodidacta es el único
          aprendizaje válido."
          <footer>
            <cite>- Isaac Asimov</cite>
          </footer>
        </blockquote>
        <p>
          Imagina escribir el libro que siempre quisiste leer, eso es este
          espacio para mi 😅, no solo es mi pagina web o donde subo artículos o
          proyectos, también es el espacio donde escribo lo que me hubiese
          gustado aprender cuando empecé a programar, esas pequeñas dudas que no
          te dejan avanzar, que no te dejan dormir, pues trato de resolverlas en
          este espacio. También espero poder aportar a otros en el desarrollo de
          sus habilidades 😊.
        </p>
      </section>
    </main>
    <Footer />
  </body>
</html>
